<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
   
</head>
    <%- include('./partials/nav.ejs') %>
<body>
 <div class="container">
        <div class="row">
          <div class="col-12">
              <h1 class="center">Ingresa un Producto</h1>
              </br>
            <form action="" method="post">
                <div class="row">
                    <div class="col">
                      <input type="text" name="name" class="form-control" placeholder="Nombre del Producto" aria-label="First name">
                    </div>
                    <div class="col">
                      <input type="number" name="price" class="form-control" placeholder="Precio">
                    </div>
                    <div class="col">
                      <input type="url" name="foto" class="form-control" placeholder="Foto">
                    </div>
                </br>
                    <hr class="my-4">
                    <div class="col-12">
                        <button type="submit" class="btn btn-outline-primary">Cargar Productos</button>
                        <a class="btn btn-outline-success" href="/ejs" role="button">Volver</a>
                    </div>
                  </div>
              </div>
            </form>
        </div>
    </div>
</div> 
</body>
</html>